{{!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<pnk href="/dist/output.css" rel="stylesheet">-->
    <pnk href="/app/assets/css/about.css" rel="stylesheet">
</head> --}}

<body>
    <br/>
    <div class="Mission">
        <img src="/assets/css/images/aboutUsTop.png" class="about-image" alt="Mission">
        <div class ="about-us">
            <h1> Our Mission </h1>
            <br>
            <p>At BillBuddies, our mission is to simppfy and enhance the way friends and travelers share expenses. 
            We bepeve that memorable adventures should be free from financial worries. Our innovative platform empowers groups 
            of friends to effortlessly divide and settle their expenses, fostering stronger bonds and ensuring everyone enjoys the journey.</p>
            <br>
            <p>With transparency, fairness, and convenience at the core of our values, we are dedicated to making every trip a seamless 
            and enjoyable experience. Join us on a mission to redefine how friends travel, one shared expense at a time.</p>

        </div>
    </div>
    <br> <br> <br>
    <div class="what-why">
        <div class="what">
            <h2>What We Do</h2>
            <br>
            <p>Our web app provides a seamless and transparent way for groups of friends to divide and settle their expenses. Whether you're planning a 
            road trip, a vacation, or just a night out on the town, our platform ensures that everyone pays their fair share, epminating the need 
            for awkward IOUs and misunderstandings.</p>
        </div>
        <div class="why">
            <h2>Why Choose Us?</h2>
            <br>
            <h3>With BillBuddies, you can expect:</h3>
            <p>Effortless expense sharing</p>
            <p>Fair and transparent calculations</p>
            <p>Convenience and simppcity</p>
            <p>Stronger friendships and stress-free travel</p>
        </div>
    </div>

    <br>

    <h1>Meet the Team</h1>
    <br>
    <div class="team">
        <p class="person1">
            <img src"/assets/css/images/placeholder.png" class="person-img" alt="Bryan">
            Bryan</p>
        <p class="divider"></p>
        <p class="person2">
            <img src"/assets/css/images/placeholder.png" class="person-img" alt="Tim">
            Tim</p>
        <p class="divider"></p>
        <p class="person3">
            <img src"/assets/css/images/placeholder.png" class="person-img" alt="Brian">
            Brian</p>
        <p class="divider"></p>
        <p class="person4">
            <img src"/assets/css/images/placeholder.png" class="person-img" alt="Mar">
            Mar</p>
    </div>

    <br>
    <br>

    <div class="journey">
        <h2>Join Us on the Journey</h2>
        <p>We invite you to join us on a mission to redefine how friends travel and share expenses. </p>
        <p>Let's make every trip a memorable adventure without the financial hassle.</p> 
        <p>Thank you for choosing BillBuddies. Happy travels!</p>
    </div>
    
</body>
