<div class="front-page">
  {{!-- <div class="front-page__preview-container">
    <img class="front-page__preview" src="/assets/images/kanban-screenshot.png">
  </div> --}}
  <h2 class="front-page__heading">Welcome to BillBuddies</h2>
  <div style="display:flex;flex-direction:row;">
        <div style="">
            <img src="/assets/images/aboutUsTop.jpg">
            <h1>Simplicity</h1>
            <p> Have fun with less headaches</p>
        </div>
        <div style="">
            
              At BillBuddies, our mission is to simplify and enhance the way friends and travelers share expenses. 
          We believe that memorable adventures should be free from financial worries. Our innovative platform empowers groups 
          of friends to effortlessly divide and settle their expenses, fostering stronger bonds and ensuring everyone enjoys the journey. 
          With transparency, fairness, and convenience at the core of our values, we are dedicated to making every trip a seamless 
          and enjoyable experience. Join us on a mission to redefine how friends travel, one shared expense at a time.

          {{#if currentUser}}
    <a class="button button--large" href="/{{currentUser.details.username}}" style="margin-left: 50%; margin-top: 50%">Go to your board</a>
  {{else}}
    <a class="button button--large" href="/user/signup" style="margin-left: 50%; margin-top: 50%">Sign up!</a>
  {{/if}}
        </div>
    </div>
  {{!-- {{#if currentUser}}
    <a class="button button--large" href="/{{currentUser.details.username}}">Go to your board</a>
  {{else}}
    <a class="button button--large" href="/user/signup" style="margin-left: 50%; margin-bottom: 50%">Sign up!</a>
  {{/if}} --}}
  <hr>
  <br>
  <br>
  <footer style="height: 50px;">
  <a href="/about" style="margin-left: 70%; margin-bottom: 50px;">About Us </a>
</footer>
</div>

