<meta charset="UTF-8">
<div class="front-page">
  {{!-- <div class="front-page__preview-container">
    <img class="front-page__preview" src="/assets/images/kanban-screenshot.png">
  </div> --}}
  <h2 class="front-page__heading">Welcome to BillBuddies</h2>
  <div class="home">
    <div class="home-image-container">
      <img src="/assets/images/aboutUsTop.jpg" class="front-page-image">
      <h1>Simplicity</h1>
      <p> Have fun with less headaches</p>
    </div>
    <div class="description">

      Embark on Seamless Adventures with BillBuddies!
      <br>
      <br>
      Traveling with friends and having every expense effortlessly split, ensuring your focus remains on the incredible
      moments you'll create on your adventure. Welcome to BillBuddies!
      <br>
      <br>
      &#127775 Simplify Expense Sharing: We take the guesswork out of dividing costs, making it as simple as a click.
      <br>
      <br>
      &#127757 Wander with Confidence: Explore the world without financial worries. Our app guarantees fair and equal
      contributions from everyone.
      <br>
      <br>
      &#129309 Strengthen Friendships: By making expenses transparent, we build trust and stronger connections among
      your adventure buddies.
      <br>
      <br>
      Join us to discover a new way to journey, where the only thing you need to worry about is where to next.
      BillBuddies - Because Adventures Are Meant to Be Enjoyed.

      {{#if currentUser}}
      <a class="button button--large home-button" href="/{{currentUser.details.username}}/trips">Check out my trips</a>
      {{else}}
      <a class="button button--large home-button" href="/user/signup">Sign up!</a>
      {{/if}}
    </div>
  </div>
  {{!-- {{#if currentUser}}
  <a class="button button--large" href="/{{currentUser.details.username}}">Go to your board</a>
  {{else}}
  <a class="button button--large" href="/user/signup" style="margin-left: 50%; margin-bottom: 50%">Sign up!</a>
  {{/if}} --}}
  <hr>
  <br>
  <br>
  <footer style="height: 50px;">
    <a href="/about" style="margin-left: 70%; margin-bottom: 50px;">About Us </a>
  </footer>
</div>