<!-- show all trips here -->

<div style="padding-top:5px">
  <button class="button button--add-trip" new:trip>
    Add Trip
  </button>
</div>

<br>

all of {{currentUser.details.username}}'s trips here

<div object>
  <div array key="trips">
    {{#for trip in trips}}
    <div object key:text="@innerText">{{default trip.text "new trip"}}</div>
    {{/for}}
  </div>
</div>