<!-- show all trips here -->



<div style="padding-top:5px">
  <button class="button button--add-trip" new:trip>
    Add Trip
  </button>
</div>

<br>

all of {{currentUser.details.username}}'s trips here:

<div object>
  <div array key="trips" class="trips">
    {{#for trip in trips}}
    <a 
        object key:text="@innerText"
        key:id="{{trip.id}}"
        href="trip/{{trip.id}}"
    >
        {{default trip.text "New Trip"}}
    </a>
    {{/for}}
  </div>
</div>
