/*THE CSS PAGE FOR ABOUT.HBS*/

/*Summary Properties*/
.Mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
.about-us {
  text-align: center;
  margin-right: 25px;  
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #541c2c;
}

/*Image Properties*/
.image-container {
  display: flex;
  align-items: center;
}
.about-image {
  width: 55%; 
  margin: 15px 15px 15px 15px;
  border-radius: 50%;
}

/*Middle Object Properties*/
.what-why{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  margin: 25px;
}
.what{
  background-size: 100%;
  width: 100%;
  height: 100%;
  color: #541c2c;
  background-color: #ffaf94;
  overflow: auto;
  text-align: center;
  box-shadow: inset 5em 2em coral;
  padding-left: 5em;
}
.why{
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-color: #ffff87;
  color: #541c2c;
  overflow: auto;
  text-align: center;
  box-shadow: inset 5em 2em gold;
  padding-left: 5em;
}

/*Contact and Team Properties*/
.team{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.person1, .person2, .person3, .person4{
  background-color: rgb(255, 255, 180);
  width: 25%;
  height: 300px;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  font-family: 'Brush Script MT', 'Lucida Handwriting';
}
.person-img{
  width: 20%;
}
.divider{
  width: 5%;
}

/*Bottom of Page Properties*/
.journey{
  background-color: pink;
  padding: 30px 20px 30px 20px;
  text-align: center;
  color: #541c2c;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
