.Mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.image-container {
  display: flex;
  align-items: center;
}

.about-image {
  width: 650px; 
  margin: 15px 15px 15px 15px;
  border-radius: 50%;
}

.image-text {
  position: absolute;
  bottom: 50px;
  left: 30px;
  background-color: purple;
  color: white;
  padding: 5px 20px 5px 20px;
}

.about-us {
  text-align: center;
  margin-right: 25px;  
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #541c2c;
}

.what-why{
  display: flex;
  justify-content: center;
  align-items: center;
}
.what{
  background-image: url("/assets/images/cash-hero-TP.jpg");
  background-size: 200px;
  width: 50%;
  height: 200px;
  position: absolute;
  clip-path: polygon(0 0, 0 200px, 60px 200px, 140px 0);
  z-index:10;
  background-color: #fda487;
  background-blend-mode: multiply;
}
.why{
  background-image: url("/assets/images/Cash.jpg");
  background-size: 200px;
  width: 50%;
  height: 200px;
  position: absolute;
  background-color: #FDFD96;
  background-blend-mode: multiply;
}

.journey{
  background-color: pink;
  padding: 30px 20px 30px 20px;
  text-align: center;
  color: #541c2c;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}