/*THE CSS PAGE FOR ABOUT.HBS*/

/*Summary Properties*/
.Mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffaca2;
  height: fit-content;
  pointer-events: none;
}
.about-us {
  text-align: right;
  margin-right: 25px;  
  margin-left: 60%;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #541c2c;
  position: absolute;
}

/*Image Properties*/
.image-container {
  display: flex;
  align-items: center;
}
.about-image {
  width: 100%; 
  margin: 15px 15px 15px 15px;
}

/*Middle Object Properties*/
.what-why{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  margin: 25px;
}
.what{
  background-size: 100%;
  width: 100%;
  height: 100%;
  color: #541c2c;
  background-color: #ffaf94;
  overflow: auto;
  text-align: center;
  box-shadow: inset 5em 2em rgb(253, 140, 99);
  padding-left: 5em;
}
.why{
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-color: #ffff87;
  color: #541c2c;
  overflow: auto;
  text-align: center;
  box-shadow: inset 5em 2em rgb(255, 229, 80);
  padding-left: 5em;
}

/*Contact and Team Properties*/
.Meet{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #541c2c;
}
.team{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.person1, .person2, .person3, .person4{
  background-color: beige;
  color: #541c2c;
  width: 25%;
  height: 300px;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: larger;
}
.person-img1, .person-img2, .person-img3, .person-img4{
  width: 90%;
  opacity: 0.8;
}
.divider{
  width: 5%;
}

/*Bottom of Page Properties*/
.journey{
  background-color: pink;
  padding: 30px 20px 30px 20px;
  text-align: center;
  color: #541c2c;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media only screen and (max-width: 908px) {
  .about-us{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: center;
    font-size: 15px;
    height: 100%;
    text-shadow: rgb(205, 144, 144) 2px 5px;
    
  }
  .image-container{
    height: 500px;
  }
  .about-image {
    width: 100%; 
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

  @media only screen and (max-width: 549px) {
    .person1, .person2, .person3, .person4{
      height: fit-content;
    }
    .what, .why{
      padding-left: 2em;
    }
    .what{
      box-shadow: inset 2em 2em rgb(253, 140, 99);;
    } 
    .why{
      box-shadow: inset 2em 2em rgb(255, 229, 80);;
    }
    .Mission{
      flex-direction: row;
      height: 500px;
    }
    .about-us{
      margin-left: 20%;
      font-size:10px;
    }
  }