/* Basic CSS Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  background-color: #536988;
  border-radius: 5px;
}
.button--large {
  height: 42px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 42px;
}
.button--account {
  margin-top: 1rem;
}
.button--plus-square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin-left: auto;
  line-height: normal;
  padding: 0;
}
.button--add-stack {
  margin-left: 1.25rem;
}
.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

body {
  overflow-x: hidden;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.participant {
  margin-top: 30px;
  margin-left: 5px;
  margin-bottom: 30px;
  border: 2px solid black;
  width: 300px;
}

.participants{
  padding-top : 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.participant_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.event{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  border-top: black 1px solid;
}

.my_participant{
  border: 5px solid pink;
  border-radius: 10px;
  background: yellow;
}

#participant_total{
  padding-top:32px;
}

#my_sum{
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: 50px;
  padding-top: 10%;
}

.sum_container{
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 100px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 5px solid hotpink;
  border-radius: 5px;
  background: cyan;
}

@media only screen and (max-width: 900px) {
  .sum_container{
    flex-direction: column;
    gap: 30px;
  }
  .breakdown{
    margin-left: 15px;
    width: fit-content;
  }
  .chart{
    width: 100% !important;
  }
}

.event_box {
  margin-left: 15px;
  margin-bottom: 15px;
  border: 10px 10px solid black;
  border-style: double;
  width: 300px;
  display: inline-block;
  cursor: pointer;
}

.price_box {
  margin-left: 100px;
  border: 10px 10px solid black;
  border-style: double;
  width: 300px;
  display: inline-block;
  cursor: pointer;
}

.trip_container{
  display: flex;
  justify-content: center;
}

.trip_name {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border: 10px 10px pink;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
}
.participant_button{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 150px;
  font-size: 40px;
  margin-top: 20px; 
  margin-left: 30px;
}


.event_button{
  display:flex;
  justify-content: center;
  padding-bottom: 25px;
}
.chart{
  width: 400px !important;
  height: 400px !important;
}

.breakdown {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 100px;
  justify-content: space-between;
}

.trip_cards{
  display:flex;
  flex-wrap:wrap;
}

.image{
  max-height: 300px;
  margin: 5px;
  border: 5px solid black;
  border-radius: 2px;
}

.trips{
  background-color: hotpink;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 40px;
  border: 10px 10px solid black;
  border-style: double;
  border-radius: 5px;
  width: 300px;
  margin: 50px;
}

.trips a {
  text-align: center;
}

.trips a:hover, .edit_button:hover{
  background: rgb(119, 53, 53);
  color: white;
}

.edit_button{
  font-size: 25px;
  position: relative;
  padding-right: 5px;
}

.edit_button_div {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}

.user_trips{
  font-size: 50px;
  border: 5px solid pink;
  border-bottom: none;
  border-radius: 15px;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  padding-top:20px;
  padding-bottom:10px;
  background: hotpink;
}

.trips_header{
  margin-left: 60px; 
  margin-right: 60px;
  font-weight: bolder; 
  color: purple; 
  display: flex;
  flex-direction: column; 
  margin-top: 30px;
  gap: 25px;
  align-items: center;
}
  @media only screen and (max-width: 600px){
    .participant_info{
      gap: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .event{
      padding-left: 10px;
      padding-right: 10px;
    }
    .participants{
      padding-left: 10px;
      padding-right: 10px;
    }
    .participant_button{
      padding-left: 0;
      margin-left: 5px;
    }
    .breakdown{
      margin-left: 30px;
    }
    #split{
      font-size: 18px;
    }
    #owes{
      font-size: 18px;
    }
  }