/* Basic CSS Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  background-color: #536988;
  border-radius: 5px;
}
.button--large {
  height: 42px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 42px;
}
.button--account {
  margin-top: 1rem;
}
.button--plus-square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin-left: auto;
  line-height: normal;
  padding: 0;
}
.button--add-stack {
  margin-left: 1.25rem;
}
.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

body {
  overflow-x: hidden;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.participant {
  margin-top: 30px;
  margin-left: 5px;
  margin-bottom: 30px;
  border: 10px 10px solid black;
  border-style: dashed;
  width: 300px;
}
.participants{
  padding-top : 5px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.participant_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}

.my_participant{
  border: 5px solid pink;
  border-radius: 10px;
}

#participant_total{
  padding-top:32px;
}

#my_sum{
  width: fit-content;
  height: fit-content;
}

.sum_container{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.event_box {
  margin-left: 15px;
  margin-bottom: 15px;
  border: 10px 10px solid black;
  border-style: double;
  width: 300px;
  display: inline-block;
  cursor: pointer;
}

.price_box {
  margin-left: 100px;
  border: 10px 10px solid black;
  border-style: double;
  width: 300px;
  display: inline-block;
  cursor: pointer;
}

.trip_container{
  display: flex;
  justify-content: center;
}

.trip_name {
  margin-top: 20px;
  border: 10px 10px pink;
  border-style:dotted;
  text-align: center;
}
.participant_button{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.event{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 4px;
  border-top: black 1px solid;
}

.event_button{
  display:flex;
  justify-content: center;
  padding-bottom: 5px;
}
