.trips {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    color: black;
    font-size: 40px;
    border: 10px 10px solid black;
    border-style: double;
    width: 300px;
    text-align: center;
    margin: 50px;
}